
.mobileMenu {
	position: fixed;
	top: 0;
	right: -500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 25px 0;
	width: 320px;
	height: 100%;
	background-color: #000;
	transition: all 0.3s linear;
	z-index: 10;

	&__icon{
		width: 20px;
		height: 20px;
	}
	&__icon * {
		transition: all 0.4s ease-out;
		color: #c6c4c4;
		fill: #c6c4c4;
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: 8px;
		font-family: "Raleway", sans-serif;
		font-size: 20px;
		font-weight: bold;
		color: #c6c4c4;
		transition: all 0.4s ease-out;
		text-transform: lowercase;
		padding: 4px 15px 5px;
		border-radius: 20px;
	
		&:hover{
			color: #AA0E0E;
			box-shadow: 0 0 5px #AA0E0E;
			.mobileMenu__icon *{
				color: #AA0E0E;
				fill: #AA0E0E;
			}
		}
		&:focus{
			color: #AA0E0E;
			box-shadow: 0 0 5px #AA0E0E;
		}
	}

	@media (max-width: 500px) {
		width: 100%;
	}
}

.mobileMenuActive {
	right: 0;
	transition: all 0.3s linear;
}

.mobileMenu__back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	pointer-events: none;
}
.mobileMenu__backActive {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	pointer-events: auto;
}

.active {
	box-shadow: 0 0 7px rgb(170, 14, 14);
	color: rgb(170, 14, 14);
}
.activeIcon * {
	transition: all 0.2s ease-out;
	color: rgb(170, 14, 14);
	fill: rgb(170, 14, 14);
}
