.link{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 25px;
	width: 400px;
	font-size: 16px;
	font-weight: bold;
	background-color: #000;
	color: #c6c4c4;
	box-shadow: 0 0 7px #AA0E0E;
	border: 1px solid #AA0E0E;
	transition: all 0.4s ease-in-out;

	&:hover{
		transform: scale(1.05);
	}

	span{
		margin-bottom: 3px;
	}

	img{
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}
	
	@media(max-width: 500px){
		padding: 7px 10px;
		width: 250px;
		font-size: 16px;
	}
}
