.contact{
	width: 100%;
	padding: 80px 15px 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	background-color: transparent;
}

