@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300&display=swap');


.home{
	width: 100%;
	min-height: 400px;
	padding: 80px 15px 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	background-color: rgba(48, 14, 14, 0);
	p{
		margin-top: 10px;
		font-size: 20px;
	}
	&__about{
		font-family: 'Raleway', sans-serif;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 50px;
		& a{
			color:rgb(170, 14, 14);
			font-size: 20px;
		}
		div{
			text-align: center;
		}
	}
	&__title{
		font-family: 'Raleway', sans-serif;
		margin:0 auto;
		color:rgb(255, 255, 255);
	}

}


.menu{
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding: 25px 0;

	&__icon{
		width: 20px;
		height: 20px;
	}
	&__icon * {
		transition: all 0.2s ease-out;
		color: #fff;
		fill: #fff;
	}
	&__item{
		display: flex;
		align-items: center;
		column-gap: 8px;
		font-size: 20px;
		font-weight: bold;
		color: white;
		transition: all 0.2s ease-out;
		text-transform: lowercase;
		padding: 5px 15px 7px;
		border-radius: 15px;
	
		&:hover{
			color: rgb(170, 14, 14);
			box-shadow: 0 0 7px rgb(170, 14, 14);
			.menu__icon * {
				color: rgb(170, 14, 14);
				fill: rgb(170, 14, 14);
			}
		}
		&:focus{
			color: rgb(170, 14, 14);
			box-shadow: 0 0 7px rgb(170, 14, 14);
		}
		
	}
	
}


.active{
	box-shadow: 0 0 7px rgb(170, 14, 14);
	color: rgb(170, 14, 14);
}
.activeIcon *{
	transition: all 0.2s ease-out;
	color: rgb(170, 14, 14);
	fill: rgb(170, 14, 14);
}

@media(max-width: 500px){

	.home{
		padding: 50px 0 80px;
		gap: 50px;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		background-color: rgba(48, 14, 14, 0);
		p{
			margin-top: 10px;
			font-size: 16px;
		}
		&__about{
			font-family: 'Raleway', sans-serif;
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			column-gap: 20px;
			row-gap: 50px;
			& a{
				color:rgb(170, 14, 14);
				font-size: 16px;
			}
		}
		&__title{
			font-size: 16px;
		}
	
	}




	.menu{
		gap: 8px;
		padding: 25px 0;
		justify-content: center;
		
		&__item{
			column-gap: 5px;
			font-size: 16px;
			padding: 4px 10px 6px;
			
		}
		img{
			width: 20px;
			height: 20px;
		}
	}
}


@media(max-width: 360px){

	.home{
		&__title{
			font-size: 14px;
		}
		p{
			font-size: 12px;
		}
		&__about{
			& a{
				font-size: 12px;
			}
		}
	}
}