@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300&display=swap');


.home{
	max-width: 900px;
	min-height: 400px;
	padding: 20px 15px 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	color: #c6c4c4;
	font-family: 'Oswald', sans-serif;
	background-color: rgba(48, 14, 14, 0);

	&__titleWrap{
		display: flex;
		align-items: center;
		gap: 30px;
		font-family: 'Raleway', sans-serif;
		div{
			display: flex;
			flex-direction: column;
			gap: 15px;
			justify-content: start;
			@media(max-width: 500px){
				gap: 8px;
			}
		}
		@media(max-width: 500px){
			gap: 20px;
		}
	}

	img{
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	p{
		margin-top: 10px;
		font-size: 20px;
		line-height: 30px;
	}
	&__about{
		font-family: 'Raleway', sans-serif;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 50px;
		& a{
			color:#AA0E0E;
			font-size: 20px;
		}
		div{
			text-align: center;
		}
	}
	&__title{
		font-family: 'Raleway', sans-serif;
		color:#c6c4c4;
		font-size: 30px;
		font-weight: 600;
	}
	&__aboutItemTitle{
		color:#AA0E0E;
		font-size: 22px !important;
	}

	&__linkItem{
		text-decoration: underline;
	}

	h2{
		color:#AA0E0E;
	}
}




@media(max-width: 500px){

	.home{
		p{
			margin-top: 10px;
			font-size: 16px;
		}
		&__about{
			& a{
				color:#AA0E0E;
				font-size: 16px;
			}
		}
		&__title{
			font-size: 20px;
		}
		h2{
			font-size: 16px;
		}
		img{
			width: 100px;
			height: 100px;
		}
	}

}


@media(max-width: 360px){

	.home{
		p{
			font-size: 12px;
		}
		&__about{
			& a{
				font-size: 12px;
			}
		}
	}
}