.worksItem{
	width: 300px;
	height: 350px;
	padding: 0 0 10px;
	overflow: hidden;
	text-align: center;
	color: rgb(172, 172, 172);
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.5s ease;


	&:hover{
		transform: scale(1.020);
	}

	&__tech{
    color: #AA0E0E;
		font-size: 12px;
	}

	&__title{
		font-size: 20px;
		color: #c6c4c4;
	}
	&__info{
		font-size: 16px;
		margin-top: 14px;
	}
	&__img{
		width: 100%;
		height: 50%;
	}
	&__textWrap{
		padding: 0 10px 0;
		height: 100%;
		margin-top: 13px;
	}
}





@media(max-width: 500px){

	.worksItem{
		width: 250px;
		height: 300px;
		padding: 0 0 10px;
		
		&__tech{
			font-size: 10px;
		}
	
		&__title{
			font-size: 18px;
		}
		&__info{
			font-size: 14px;
			margin-top: 12px;
		}
		&__img{
			width: 100%;
			height: 50%;
			transition: all 0.5s ease-in-out;
		}
		&__textWrap{
			padding: 0 10px 0;
			height: 100%;
			margin-top: 25px;
		}
	}

}