.header{
	font-family: 'Teko', sans-serif;
	margin-top: 20px;
	color: white;

	&__title{
		font-size: 50px;
		color:#AA0E0E; 
		font-weight: 700;
	}
	
	&__wrapper{
		height: 60px;
		width: 100%;
      display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo{
		width: 40px;
		height: 33px;
	}

	&__links {
		display: flex;
		align-content: center;
		gap: 15px;
	}

	&__link {
		svg {
			width: 30px;
			height: 30px;
			@media(max-width: 400px) {
				width: 20px;
				height: 20px;
			}
		}
		path{
			transition: all 0.3s ease;
		}
		&:hover {
			path {
				fill: #AA0E0E;
			}
		}
	}

	&__burger {
		cursor: pointer;
		display: none;
		width: 30px;
		height: 30px;
		
		path {
			fill: #fff;
		}

		@media(max-width: 840px) {
			display: block;
		}
	}
}



@media(max-width: 800px){
	.header__logo{
		font-size: 34px;
	}

}


@media(max-width: 500px){
	.header__logo{
		font-size: 24px;
	}
	.header__git{
		span{
			display: none;
		}
	}
	.header__resume{
		span{
			display: none;
		}
	}
}